<app-layout pageTitle="People" pageDesc="List of all people">
  <page-actions>
    <button mat-icon-button><mat-icon>search</mat-icon></button>
    <a mat-raised-button color="accent" routerLink="/people/new">
      <mat-icon>add</mat-icon> New Person
    </a>
  </page-actions>

  <page-menu [menus]="menus"></page-menu>

  <people-list
    *ngIf="presenter.pagination$ | async"
    [pagination]="presenter.pagination$ | async"
    [isLoading]="presenter.paginator.isLoading$ | async"
    (page)="page($event)"
    (delete)="presenter.deletePerson($event)"
  ></people-list>

</app-layout>
