@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');

  .mat-toolbar {
    .mat-button:before {
      background: mat.get-color-from-palette($accent);
    }
  }

  .page-header {
    background-color: mat.get-color-from-palette($primary, 100);
  }

  .page-menu {
    background-color: mat.get-color-from-palette($accent, 50);
    border-color: mat.get-color-from-palette($accent, 100);

    .active::after {
      background: #f5f5f6;
      box-shadow: -1px -1px 1px 0px mat.get-color-from-palette($accent, 100);
    }
  }

  .mat-raised-button.mat-accent {
    box-shadow: 0 0.125rem 0.625rem rgba(mat.get-color-from-palette($accent) ,0.4),0 0.0625rem 0.125rem rgba(mat.get-color-from-palette($accent), 0.5);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
